@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

:root {
	--red-color: hsl(0, 100%, 68%);
	--very-dark-blue: hsl(230, 29%, 20%);
	--dark-grayish-blue: hsl(230, 11%, 40%);
	--grayish-blue: hsl(231, 7%, 65%);
	--light-grayish-blue: hsl(207, 33%, 95%);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	letter-spacing: 0.0625em;
	line-height: 1.4;
	transition: all 0.1s ease;
}


a {
	text-decoration: none;
	color: #262626;
}

ul li {
	list-style: none;
}


/* Utility Classes */
.container {
	max-width: 1300px;
	padding: 1.5rem;
	overflow: auto;
	margin: auto;
}


.bg-dark {
	padding: 5px 13px;
	background-color: var(--very-dark-blue);
	border-radius: 20px;
	margin-right: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
}


.btn-primary {
	display: inline-block;
	padding: 14px 25px;
	background-color: var(--red-color);
	font-size: 14px;
	color: #fff;
	border-radius: 6px;
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	border: none;
	transition: opacity 0.2s ease-in;
}


.menu-btn {
	cursor: pointer;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 2;
	display: none;
}

.btn-primary:hover {
	opacity: 0.75;
}


/* Main Navbar */
.main-nav {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	margin-bottom: 40px;
}


.main-nav .links ul {
	display: flex;
	text-align: center;
	align-items: center;
}


.main-nav .links ul li {
	padding: 0 22px;
	font-size: 18px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 700;
}

.main-nav .links ul li a {
	padding-bottom: 2.8px;
}


.main-nav .links ul li a:hover {
	border-bottom: 1.5px solid #262626;
}

.main-nav .links ul li:last-child {
	margin-left: 3.8rem;
}

.main-nav .links ul li:last-child a {
	color: var(--grayish-blue);
}



/* Showcase Section */
.showcase {
	width: 100%;
	height: 800px;
	display: flex;
	overflow: hidden;
	align-items: center;
	text-align: center;
	background-color: var(--light-grayish-blue);
}


.showcase .first {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: start;
	justify-content: center;
	margin-top: -50px;
}


.showcase .first .first-content {
	display: flex;
	flex-direction: column;
	text-align: start;
	margin-bottom: 80px;
}

.first-content p {
	padding: 1rem 0;
	color: var(--grayish-blue);
	font-family: 'Barlow', sans-serif;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 3px;
}

.first-content p:last-child {
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
}


.first-content h1.main-heading {
	font-size: 2.6rem;
	font-family: 'Raleway', sans-serif;
	color: var(--very-dark-blue);
	padding: 2px 0;
}


.first .second-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}


.first .second-content a {
	margin-right: 30px;
}

.first .second-content p {
	font-size: 16px;
	color: var(--grayish-blue);
	letter-spacing: 2.5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}


.showcase .second {
	width: 55%;
}


.showcase .second .device {
	height: 440px;
	margin-right: -40%;
}





/* Media Queries */
@media(max-width: 900px) {
	.first-content h1.main-heading {
		font-size: 1.7rem;
	}

	.first-content p:first-child {
		font-size: 12px;
	}

	.showcase .second {
		width: 60%;
	}

	.showcase .first .first-content {
		margin-bottom: 50px;
	}


	.first .second-content p {
		font-size: 14px;
	}

	.btn-primary {
		font-size: 10px;
		padding: 11px 15px;
	}

	.first .second-content a {
		margin-right: 10px;
	}
}



@media(max-width: 700px) {
	.menu-btn {
		display: block;
	}

	.menu-btn:hover {
		opacity: 0.5;
	}

	.main-nav .links ul {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: var(--red-color);
		width: 50%;
		height: 100%;
		border-right: #ccc 1px solid;
		opacity: 0.9;
		padding: 30px;
		transform: translateX(-500px);
		transition: transform 0.5s ease-in-out;
	}

	.main-nav .links ul li {
		padding: 25px;
		border-bottom: #ccc dotted 1px;
		font-size: 18px;
		text-align: start;
	}

	.main-nav ul li:last-child {
		border-bottom: 0;
	}


	.main-nav .links ul.show {
		transform: translateX(-20px);
	}


	.main-nav .links ul li a:hover {
		border-bottom: none;
	}

	.main-nav .links .main-nav .links ul li a {
		color: #fff;
	}

	.main-nav .links ul li a:last-child {
		color: #fff;
	}

	.main-nav .links ul li:last-child {
		margin-left: 0;
	}

	.first-content p:first-child {
		font-size: 11px;
	}

	.first-content h1.main-heading {
		font-size: 1.4rem;
	}

	.first-content p:last-child {
		font-family: 'Roboto', sans-serif;
		padding-top: 30px;
		font-size: 14px;
		font-weight: 200;
		letter-spacing: 1px;
	}


	.showcase .first .first-content {
		margin-bottom: 40px;
	}

	.second-content {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	.btn-primary {
		font-size: 10px;
		padding: 11px 15px;
		margin-bottom: 20px;
	}


	.showcase .second .device {
		height: 350px;
		margin-right: -30%;
	}


	.showcase .first {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: start;
		justify-content: center;
		margin-top: -20px;
	}

	.bg-dark {
		display: block;
		margin-bottom: 10px;
		text-align: center;
		width: 60px;
	}
}